<div class="main">
    <app-header></app-header>
    <div class="container-fluid">
        <app-menu></app-menu>
        <div class="main-content">
            <router-outlet></router-outlet>
            <div class="side-menu">
                <div class="adv-banners text-center">
                    <p class="adv-header">We knocked em'll</p>
                    <div class="adv-item">
                        <img src="assets/imgs/red-roadster-car.svg" alt="car">
                    </div>
                    <div class="adv-item">
                        <img src="assets/imgs/red-roadster-car.svg" alt="car">
                    </div>
                </div>
            </div>
        </div>
        <app-news-section></app-news-section>
        <div id="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
