    <app-header></app-header>
    <app-loader></app-loader>
    <div class="container-fluid">
        <app-menu></app-menu>
        <div class="main-content">
            <div class="main-content-body">
                <router-outlet></router-outlet>
            </div>
            <div class="side-menu">
                <div class="adv-banners text-center">
                    <p class="adv-header">We knocked em'll</p>
                    <div class="adv-item">
                        <img src="assets/imgs/red-roadster-car.svg" alt="car">
                    </div>
                    <div class="adv-item">
                        <img src="assets/imgs/red-roadster-car.svg" alt="car">
                    </div>
                </div>
                <app-game-filters class="game-filter" style="display:none;"></app-game-filters>
            </div>
        </div>
        <app-news-section></app-news-section>
    </div>
    <app-footer></app-footer>
