<footer>
    <div class="footer__rights">
        <p>© 2023 GameStore All Rights Reserved</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris</p>
    </div>
    <div class="footer__links">
        <p class="links__header p-header">Site links</p>
        <div>
            <ul>
                <li>Home</li>
                <li>Privacy & Security</li>
                <li>Help</li>
                <li>Personal Finance BLog</li>
                <li>Site Map</li>
            </ul>
        </div>
    </div>
    <div class="footer__info">
        <p class="info__header p-header">Company information</p>
        <div>
            <ul>
                <li>About What</li>
                <li>Awards</li>
                <li>Reviews</li>
                <li>Testimonials</li>
                <li>Contacts</li>
            </ul>
        </div>
    </div>
</footer>
