<div class="game-list">
    <div class="game-item"
         *ngFor="let game of games">
        <p>{{game.Name}}</p>
        <div class="game-item-btns">
            <a class="btn btn-info" routerLink="/games/details/{{game.Key}}" color="accent">View</a>
            <a
               class="btn btn-warning"
               *ngIf="IsManager && game!.IsDeleted == false"
               (click)="editDeleteGame(game.Key!)">Edit/Delete</a>
        </div>
    </div>
</div>
<app-pagination
    [HasNext] = "HasNext"
    [HasPrevious] = "HasPrevious"
    [maxPageSize]="MaxPageSize"
    (pageIndexEvent)="pageIndexChanged($event)"
    (pageSizeEvent)="pageSizeChange($event)"></app-pagination>
