<h1 *ngIf="isAdding" mat-dialog-title>Create game</h1>
<h1 *ngIf="!isAdding" mat-dialog-title>Edit game</h1>
<div mat-dialog-content>
    <div [formGroup]="form" class="create-form">
        <div *ngIf="isAdding" class="mat-title">You are creating new game</div>
        <div *ngIf="!isAdding" class="mat-title">You are editing game {{game.Name}}</div>
        <div class="form-group">
            <p>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Game name</mat-label>
                    <input
                        matInput
                        formControlName="Name"
                        type="string"
                        minlength="1"
                        placeholder="Game name">
                    <mat-hint>Length must be greater than 1</mat-hint>
                    <mat-error *ngIf="form.controls['Name'].invalid">Length must be greater than 1</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input
                        matInput
                        formControlName="Description"
                        type="string"
                        minlength="1"
                        placeholder="Game description">
                    <mat-hint>Length must be greater than 50</mat-hint>
                    <mat-error *ngIf="form.controls['Description'].invalid">Length must be greater than 50</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Game key</mat-label>
                    <input
                        matInput
                        formControlName="Key"
                        type="string"
                        minlength="1"
                        placeholder="Game key">
                    <mat-hint>Length must be greater than 1</mat-hint>
                    <mat-error *ngIf="form.controls['Key'].invalid">Length must be greater than 1</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Game price</mat-label>
                    <input
                        matInput
                        formControlName="Price"
                        type="number"
                        min="0"
                        placeholder="Game price">
                    <mat-hint>Price must be greater than 0</mat-hint>
                    <mat-error *ngIf="form.controls['Price'].invalid">Price must be greater than 0</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Game quantity</mat-label>
                    <input
                        matInput
                        formControlName="UnitsInStock"
                        type="number"
                        minlength="1"
                        placeholder="Game quantity">
                    <mat-hint>Quantity must be greater or equal than 0</mat-hint>
                    <mat-error *ngIf="form.controls['UnitsInStock'].invalid">Quantity must be greater or equal than 1
                    </mat-error>
                </mat-form-field>
            </p>
            <div>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label >Game genres</mat-label>
                    <mat-select formControlName="GenresId" multiple>
                        <mat-option *ngFor="let gameGenre of gameGenres" [value]="gameGenre.Id">
                            {{gameGenre.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['GenresId'].invalid">Genres must be specified</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Platform type</mat-label>
                    <mat-select formControlName="PlatformTypeId" multiple>
                        <mat-option *ngFor="let PlatformType of platformTypes" [value]="PlatformType.Id">
                            {{PlatformType.Type}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['PlatformTypeId'].invalid">Platform types must be specified</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                    <mat-label>Publisher</mat-label>
                    <mat-select formControlName="PublisherId">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let publisher of publishers" [value]="publisher.Id">
                            {{publisher.CompanyName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['PublisherId'].invalid">Publishers must be specified</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()">Discard</button>
    <button *ngIf="isAdding"
            [disabled]="!form.valid"
            mat-raised-button color="primary" (click)="onSaveClick()">
        Save
    </button>
    <button *ngIf="!isAdding"
            [disabled]="!form.valid"
            mat-raised-button color="warn" (click)="onEditClick()">
        Edit
    </button>
    <button *ngIf="!isAdding" mat-raised-button color="warn" (click)="onDeleteClick()">
        Delete
    </button>
</div>
