.cont {
    margin: 5px 15px;
    height: fit-content;
}

.comment-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a:hover{
    cursor: pointer;
}

a:not([color="warn"]):hover {
    color: red;
}

q {
    font-style: italic;
}

.comment-buttons{
    display: flex;
    justify-content: space-between;
}

.comment-buttons a {
    margin: 0 5px;
}
