<div class="cont">
    <div class="comment-item">
        <h3 id="comment-{{comment.Id}}">{{comment.Name}}</h3>
        <p>
            <a *ngIf="parentComment.Name !== comment.Name" (click)="goToParentComment(parentComment.Id!)">
                [{{parentComment.Name}}]
            </a>
            <q *ngIf="comment.HasQuotation">{{parentComment.Body}}</q>
            {{comment.Body}}
        </p>
        <div class="comment-buttons">
            <div class="left-buttons">
                <a
                    mat-button
                    color="accent"
                    (click)="onAnswerButtonClick()"
                >Answer</a>
                <a
                    mat-button
                    color="primary"
                    (click)="onQuoteButtonClick()"
                >Quote</a>
                <a
                    *ngIf="replies.length > 0"
                    mat-button
                    color="primary"
                    (click)="showAnswers()"
                >Answers</a>
            </div>
            <div class="right-buttons">
                <a
                    mat-raised-button
                    color="warn"
                    (click)="deleteComment()"
                >Delete</a>
                <a
                    mat-raised-button
                    color="warn"
                    routerLink="/comment/ban"
                >Ban</a>
            </div>
        </div>
        <div *ngIf="answersIsDisplayed">
            <app-game-comment
                *ngFor="let reply of replies"
                [comment]="reply"
                [replies]="comments | repliesPipe:reply.Id!"
                [parentComment]="comment"
                [gameKey]="gameKey"
            ></app-game-comment>
        </div>
    </div>
</div>
