<div class="cont">
    <div class="comment-item">
        <h3 id="comment-{{comment.Id}}">{{comment.Name}}</h3>
        <p>
            <a *ngIf="parentCommentName!==comment.Name" (click)="goToParentComment(parentCommentId!)">
                [{{parentCommentName}}]
            </a>
            {{comment.Body}}
        </p>
        <a
            mat-button
            color="accent"
            (click)="onAnswerButtonClick(comment.Name!, comment.Id!)"
        >Answer</a>
        <a
            *ngIf="replies.length > 0"
            mat-button
            color="primary"
            (click)="showAnswers()"
        >Answers</a>
        <div *ngIf="answersIsDisplayed">
            <app-game-comment
                *ngFor="let reply of replies"
                [comment]="reply"
                [replies]="comments | repliesPipe:reply.Id!"
                [parentCommentId]="comment.Id!"
                [parentCommentName]="comment.Name!"
                [gameKey]="gameKey"
            ></app-game-comment>
        </div>
    </div>
</div>
