.main {
    margin: 5px 15px;
    height: fit-content;
}

.main__comment-body {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a:hover{
    cursor: pointer;
}

a:not([color="warn"]):hover {
    color: red;
}

q {
    font-style: italic;
}

.main__comment-actions{
    display: flex;
    justify-content: space-between;
}

.main__comment-actions a {
    margin: 0 5px;
}
