<mat-toolbar color="primary" class="header-container">
    <div class="left-header">
        <div>
            <p>Number of games: {{numberOfGames}}</p>
        </div>
        <a mat-button routerLink="/" routerLinkActive="active">Game Store</a>
        <a
           [appHasPermissions]="''"
           mat-button
           routerLink="/cart/viewcart"
           routerLinkActive="active"
        >Shopping Cart</a>
        <a
            [appHasPermissions]="'Administrator'"
            mat-button
            routerLink="/admin/main"
            routerLinkActive="active">
            Admin panel
        </a>
        <a
            [appHasPermissions]="'Manager'"
            mat-button
            routerLink="/manager/managerPanel"
            routerLinkActive="active">
            Manager panel
        </a>
        <a
            [appHasPermissions]="'Manager'"
            mat-button
            routerLink="/manager/orders"
            routerLinkActive="active">
            Orders
        </a>
        <a
            [appHasPermissions]="'Publisher'"
            mat-button
            routerLink="/publishers/main"
            routerLinkActive="active">
            Publisher panel
        </a>
    </div>
    <div class="right-header">
        <a
            *appIsAuthorized
            mat-button
            routerLink="/auth/login">Log in</a>
        <a
            *appIsAuthorized
            mat-button
            (click)="logOut()">Log out</a>
    </div>
</mat-toolbar>
