<header>
    <div class="row">
        <div class="col-6 left-nav">
            <ul class="nav nav-header">
                <li class="nav-item">
                    <a class="nav-link">Boosed Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About Boosed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Newsroom</a>
                </li>
            </ul>
        </div>
        <div class="col-6 right-nav">
            <ul class="nav nav-header">
                <li class="nav-item">
                    <a class="nav-link">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Online support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Security information</a>
                </li>
            </ul>
        </div>
    </div>
</header>
