.header-container {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 1rem;
    margin: 0;
}

.left-header {
    display: flex;
    margin-left: 12.5%;
}

.right-header{
    display: flex;
    align-items: center;
}

