<div class="cont">
    <div class="mat-title">New comment</div>
    <p *ngIf="parentComment === undefined">This is a form for a new comment</p>
    <ng-container [ngSwitch]="action" *ngIf="parentComment">
        <p *ngSwitchCase="'answer'">You are answering to {{parentComment.Name}}</p>
        <p *ngSwitchCase="'quote'">You are quoting {{parentComment.Name}}</p>
    </ng-container>
    <div [formGroup]="form" class="comment-create-form">
        <p>
            <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                <mat-label>Your name</mat-label>
                <input
                    matInput
                    formControlName="Name"
                    type="string"
                    minlength="1"
                    placeholder="Your name">
                <mat-hint>Length must be greater than 1</mat-hint>
                <mat-error *ngIf="form.controls['Name'].invalid">Length must be greater than 1</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
                <mat-label>Comment body</mat-label>
                <input
                    matInput
                    formControlName="Body"
                    type="string"
                    minlength="1"
                    placeholder="Comment body">
                <mat-hint>Length must be greater than 1</mat-hint>
                <mat-error *ngIf="form.controls['Body'].invalid">Length must be greater than 1</mat-error>
            </mat-form-field>
        </p>
    </div>
    <div class="buttons-div">
        <button mat-raised-button
                type="submit"
                color="primary"
                [disabled]="!(form.valid && IsCommentable)"
                (click)="onSaveForm()">
            Comment
        </button>
    </div>
</div>

