<div class="main">
    <div class="main__ibox-details">
        <table class="ibox-details__table">
            <thead>
            <tr>
                <th>iBox account number</th>
                <th>Invoice number</th>
                <th>Sum</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{accountNumber}}</td>
                <td>{{invoiceNumber}}</td>
                <td>{{sum}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<a mat-button (click)="back()">Back</a>
