<div class="cont">
    <div class="order-details">
        <table class="table">
            <thead>
            <tr>
                <th>iBox account number</th>
                <th>Invoice number</th>
                <th>Sum</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{accountNumber}}</td>
                <td>{{invoiceNumber}}</td>
                <td>{{sum}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
