<div class="main">
    <div class="addButtons">
        <button class="btn btn-success" (click)="addUser()">Add User</button>
        <button class="btn btn-success" (click)="addRole()">Add Role</button>
    </div>
    <div class="users">
        <div class="items-list" *ngFor="let user of users">
            <p>{{user.NickName}}</p>
            <div class="user-CRUD">
                <button class="btn btn-warning" (click)="editDeleteUser(user)">Edit/Delete</button>
            </div>
        </div>
        <app-pagination
            [HasNext]="HasNextUser"
            [HasPrevious]="HasPreviousUser"
            [maxPageSize]="totalCountUsers"
            (pageSizeEvent)="pageSizeChangeUser($event)"
            (pageIndexEvent)="pageIndexChangeUser($event)"></app-pagination>
    </div>
    <div class="roles">
        <div class="items-list" *ngFor="let role of roles">
            <p>{{role.Name}}</p>
            <div class="role-CRUD">
                <button class="btn btn-warning" (click)="editDeleteRole(role)">Edit/Delete</button>
            </div>
        </div>
        <app-pagination
            [HasNext]="HasNextRole"
            [HasPrevious]="HasPreviousRole"
            [maxPageSize]="totalCountRoles"
            (pageSizeEvent)="pageSizeChangeRole($event)"
            (pageIndexEvent)="pageIndexChangeRole($event)"></app-pagination>
    </div>
</div>
