<div class="main">
    <div class="main__buttons">
        <button class="btn btn-success main__buttons--add-user" (click)="addUser()">Add User</button>
        <button class="btn btn-success" (click)="addRole()">Add Role</button>
    </div>
    <div class="main__users">
        <div class="main__users-item list_item" *ngFor="let user of users">
            <p class="main__user-item--nickname">{{user.NickName}}</p>
            <div class="main__user-item--buttons">
                <button class="btn btn-warning" (click)="editDeleteUser(user)">Edit/Delete</button>
            </div>
        </div>
        <app-pagination
            [HasNext]="HasNextUser"
            [HasPrevious]="HasPreviousUser"
            [maxPageSize]="totalCountUsers"
            (pageSizeEvent)="pageSizeChangeUser($event)"
            (pageIndexEvent)="pageIndexChangeUser($event)"></app-pagination>
    </div>
    <div class="main__roles">
        <div class="main__roles-item list_item" *ngFor="let role of roles">
            <p class="main__roles-item--name">{{role.Name}}</p>
            <div class="main__roles-item--buttons">
                <button class="btn btn-warning" (click)="editDeleteRole(role)">Edit/Delete</button>
            </div>
        </div>
        <app-pagination
            [HasNext]="HasNextRole"
            [HasPrevious]="HasPreviousRole"
            [maxPageSize]="totalCountRoles"
            (pageSizeEvent)="pageSizeChangeRole($event)"
            (pageIndexEvent)="pageIndexChangeRole($event)"></app-pagination>
    </div>
</div>
