<div [formGroup]="form" class="create-form">
    <div class="mat-title">New Publisher</div>
    <p>
        <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
            <mat-label>Company name</mat-label>
            <input
                matInput
                formControlName="CompanyName"
                type="string"
                minlength="1"
                placeholder="Company name">
            <mat-hint>Length must be greater than 1</mat-hint>
            <mat-error *ngIf="form.controls.CompanyName.invalid">Length must be greater than 1</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
            <mat-label>Description</mat-label>
            <input
                matInput
                formControlName="Description"
                type="string"
                minlength="1"
                placeholder="Description">
            <mat-hint>Length must be greater than 1</mat-hint>
            <mat-error *ngIf="form.controls.Description.invalid">Length must be greater than 1</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
            <mat-label>Home page</mat-label>
            <input
                matInput
                formControlName="HomePage"
                type="string"
                minlength="1"
                placeholder="Home page">
            <mat-hint>Length must be greater than 1</mat-hint>
            <mat-error *ngIf="form.controls.HomePage.invalid">Length must be greater than 1</mat-error>
        </mat-form-field>
    </p>
</div>
<div class="buttons-div">
    <button mat-flat-button (click)="onNoClick()">Discard</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid" (click)="onSaveForm()">Save
    </button>
</div>
