<div
    *ngIf="game !== undefined"
    class="main">
    <div class="main__game--info">
        <h1>Name: {{game.Name}}</h1>
        <p>Description: {{game.Description}}</p>
        <p>Price: {{game.Price}}</p>
        <p>Units in stock: {{game.UnitsInStock}}</p>
        <p>Discontinued: {{game.Discontinued}}</p>
        <p *ngIf="publisher === null">Publisher unknown</p>
        <a *ngIf="publisher !== null"
            routerLink="/publishers/details/{{publisher!.CompanyName}}">Publisher: {{publisher!.CompanyName}}</a>
    </div>
    <div class="main__game--genre" [ngSwitch]="genres!.length">
        <p>Genres:</p>
        <div *ngSwitchCase="0">
            <p>Other</p>
        </div>
        <div *ngSwitchDefault>
            <p *ngFor="let genre of genres">{{genre.Name}}</p>
        </div>
    </div>
    <div class="main__game--platform-type" [ngSwitch]="platformTypes!.length">
        <p>PlatformType:</p>
        <div *ngSwitchCase="0">
            <p>Other</p>
        </div>
        <div *ngSwitchDefault>
            <p *ngFor="let platformType of platformTypes">{{platformType.Type}}</p>
        </div>
    </div>
    <a mat-button color="primary" (click)="downloadGame()">Download</a>
    <a mat-button
       color="accent"
       [disabled]="!isAvailable"
       (click)="buyGame()">Buy game</a>
    <app-comments-list [game]="game"></app-comments-list>
</div>
