<h1 class="dialog-title"
    mat-dialog-title>Ban user {{nickName}}</h1>
<div class="dialog-content" mat-dialog-content>
    <div [formGroup]="form" class="dialog-content__form">
        <div class="dialog-content__form--field">
            <mat-radio-group
                aria-label="Select a ban duration"
                color="primary"
                formControlName="BanDuration">
                <mat-radio-button value="Hour">1 hour</mat-radio-button>
                <mat-radio-button value="Day">1 day</mat-radio-button>
                <mat-radio-button value="Week">1 week</mat-radio-button>
                <mat-radio-button value="Month">1 month</mat-radio-button>
                <mat-radio-button value="Permanent">Permanent</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button
            [disabled]="form.invalid"
            mat-raised-button
            color="warn"
            (click)="onBanClick()">Ban</button>
    <button mat-stroked-button (click)="goBack()">Back</button>
</div>
