<div class="main">
    <div class="genre-crud">
        <a mat-button color="accent" (click)="addGenre()">Create genre</a>
        <div *ngFor="let genre of genres">
            <p>{{genre.Name}}</p>
            <a mat-button (click)="editDeleteGenre(genre)">Edit/Delete</a>
        </div>
        <app-pagination
            [HasNext]="HasNextGenre"
            [HasPrevious]="HasPreviousGenre"
            [maxPageSize]="totalCountGenre"
            (pageIndexEvent)="pageIndexChangeGenre($event)"
            (pageSizeEvent)="pageSizeChangeGenre($event)"></app-pagination>
    </div>
    <div class="platformType-crud">
        <a mat-button color="accent" (click)="addPlatformType()">Create platform type</a>
        <div *ngFor="let platformType of platformTypes">
            <p>{{platformType.Type}}</p>
            <a mat-button (click)="editDeletePlatformType(platformType)">Edit/Delete</a>
        </div>
        <app-pagination
            [HasNext]="HasNextPlt"
            [HasPrevious]="HasPreviousPlt"
            [maxPageSize]="totalCountPlt"
            (pageIndexEvent)="pageIndexChangePlt($event)"
            (pageSizeEvent)="pageSizeChangePlt($event)"></app-pagination>
    </div>
    <div class="publisher-crud">
        <a mat-button color="accent" (click)="addPublisher()">Create publisher</a>
        <div *ngFor="let publisher of publishers">
            <p>{{publisher.CompanyName}}</p>
            <a mat-button (click)="editDeletePublisher(publisher)">Edit/Delete</a>
        </div>
        <app-pagination
            [HasNext]="HasNextPub"
            [HasPrevious]="HasPreviousPub"
            [maxPageSize]="totalCountPub"
            (pageIndexEvent)="pageIndexChangePub($event)"
            (pageSizeEvent)="pageSizeChangePub($event)"></app-pagination>
    </div>
    <div class="game-crud">
        <a mat-button color="accent" (click)="addGame()">Create game</a>
        <app-game-list [IsManager]="true" [reloadGames]="reloadGames.asObservable()"></app-game-list>
    </div>
</div>
