<div class="block-list">
    <div class="block-item">
        <p class="block-item__header">Get in touch</p>
        <img src="assets/imgs/email-icon.svg" alt="email icon" class="block-item__icon">
        <div class="block-item__body">
            <div class="block-item__body-content">
                <label for="name" class="block-item__label form-lable">Name</label>
                <input type="text" class="block-item__control form-control" id="name" placeholder="Name">
                <label for="email" class="block-item__label form-label">Email</label>
                <input type="email" class="block-item__control form-control" id="email" placeholder="Email">
                <label for="Message" class="block-item__label form-label">Message</label>
                <textarea class="block-item__control form-control" id="Message" rows="3"></textarea>
            </div>
            <div class="block-item__body-btn">
                <button>Submit</button>
            </div>
        </div>
    </div>
    <div class="block-item">
        <p class="block-item__header">Twitter updates</p>
        <img src="assets/imgs/twitter-icon.svg" alt="twitter icon" class="block-item__icon">
        <div class="block-item__body">
            <div class="block-item__body-content">
                <ul class="block-item__list">
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                        <p class="block-item__list-date">2 days ago</p>
                    </li>
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                        <p class="block-item__list-date">20 days ago</p>
                    </li>
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                        <p class="block-item__list-date">1 week ago</p>
                    </li>
                </ul>
            </div>
            <div class="block-item__body-btn">
                <button>Follow us</button>
            </div>
        </div>
    </div>
    <div class="block-item">
        <p class="block-item__header">From the blog</p>
        <img src="assets/imgs/wifi-icon.svg" alt="blog icon" class="block-item__icon">
        <div class="block-item__body">
            <div class="block-item__body-content">
                <ul class="block-item__list">
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                    <li class="block-item__list-item">
                        <p class="block-item__list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                </ul>
            </div>
            <div class="block-item__body-btn">
                <button>Visit blog</button>
            </div>
        </div>
    </div>
</div>
