<div class="block-list">
    <div class="block-item">
        <p class="item-header">Get in touch</p>
        <img src="assets/imgs/email-icon.svg" alt="email icon" class="item-icon">
        <div class="item-body">
            <div class="item-body-content">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
                <label for="Message" class="form-label">Message</label>
                <textarea class="form-control" id="Message" rows="3"></textarea>
            </div>
            <div class="item-body-btn">
                <button>Submit</button>
            </div>
        </div>
    </div>
    <div class="block-item">
        <p class="item-header">Twitter updates</p>
        <img src="assets/imgs/twitter-icon.svg" alt="twitter icon" class="item-icon">
        <div class="item-body">
            <div class="item-body-content">
                <ul class="block-item-list">
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                        <p class="list-date">2 days ago</p>
                    </li>
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                        <p class="list-date">20 days ago</p>
                    </li>
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                        <p class="list-date">1 week ago</p>
                    </li>
                </ul>
            </div>
            <div class="item-body-btn">
                <button>Follow us</button>
            </div>
        </div>
    </div>
    <div class="block-item">
        <p class="item-header">From the blog</p>
        <img src="assets/imgs/wifi-icon.svg" alt="blog icon" class="item-icon">
        <div class="item-body">
            <div class="item-body-content">
                <ul class="block-item-list">
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                    <li class="list-item">
                        <p class="list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu quis mauris
                        </p>
                    </li>
                </ul>
            </div>
            <div class="item-body-btn">
                <button>Visit blog</button>
            </div>
        </div>
    </div>
</div>
